version: "3.9"

services:
  etl:
    build: .
    command: python src/etl/ingest_covid.py
    env_file:
      - .env

  airflow:
    image: apache/airflow:2.10.0
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
    ports:
      - "8080:8080"
